<div id="instructions" class="instructions">
	<div class="sub-header">
		<h1>Instructions</h1>
	</div>
	
	<div class="text-container">
		<p>
		The point of the game is to group 4 of a shape (a, b, or c) on the grid 
		and match the displayed pattern. The player starts off with a 6x6 grid with 
		each shape placed somewhere on the grid. The player can see what shape is 
		next and tap the same or adjacent column of the existing shape to place the 
		new one. The game is over when the grid matches the original pattern.
		</p>
	</div>
	
	<div class="button-container main-menu">
		<div class="row">
	   		<div class="col-md-12">
	       		<a class="btn btn-primary" href="#/home">Main Menu</a>
	       	</div>
	   	</div>
	</div>
</div>