<div id="aboutgame" class="aboutgame">
	<div class="sub-header">
		<h1>About the Game</h1>
	</div>
	
	<div class="text-container">
		<p>
		Applied behavior analysis (ABA) is the use of 
		a variety of techniques to bring about meaningful 
		and positive change in autistic behavior. Computer 
		games based on visual imagery are used in ABA in 
		order to help children with autism improve their 
		motor coordination and attention skills. The game 
		will help children recognize different shapes, 
		colors, and patterns.
		</p>
	</div>
	
	<div class="button-container main-menu">
		<div class="row">
	   		<div class="col-md-12">
	       		<a class="btn btn-primary" href="#/home">Main Menu</a>
	       	</div>
	   	</div>
	</div>
</div>