<div id="aboutautism" class="aboutautism">
	<div class="sub-header">
		<h1>About Autism</h1>
	</div>
	
	<div class="text-container">
		<p>
		Autism spectrum disorder (ASD) refers to a group of 
		brain development disorders that affects over 3 million 
		people in the United States and tens of millions worldwide. 
		Autism can be characterized by difficulties in social 
		interaction, verbal and nonverbal communication, repetitive 
		behaviors, intellectual disability, and difficulties in 
		motor coordination and attention.
		</p>
	</div>
	
	<div class="button-container main-menu">
		<div class="row">
	   		<div class="col-md-12">
	       		<a class="btn btn-primary" href="#/home">Main Menu</a>
	       	</div>
	   	</div>
	</div>
</div>