<div id="newgame" class="newgame" ng-controller="NewGameController">
	<div class="sub-header new-game-header">
		<h1>Match this pattern:</h1>
	</div>
	
	<div class="pattern-container">
		{{pattern}}
	</div>
	
	<div class="button-container start-game">
		<div class="row">
			<div class="col-md-6">
	       		<a class="btn btn-primary pull-right" href="#/home">Main Menu</a>
	       	</div>
	   		<div class="col-md-6">
	       		<a class="btn btn-primary pull-left" href="#/startgame">Start</a>
	       	</div>
	   	</div>
	</div>
</div>