<div id="home" class="home">

	<div class="header">

		<h1>Shape Match-Up</h1>
		<h2>A matching game for Autistic children</h2>

	</div>

	<div class="button-container">
		<div class="row">
	   		<div class="col-md-12">
	       		<a class="btn btn-primary" href="#/newgame">New Game</a>
	       	</div>
	   	</div>
	</div>
	       	
	<div class="button-container">
		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" href="#/instructions">Instructions</a>
			</div>
		</div>
	</div>
	       	
	<div class="button-container">
		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" href="#/aboutautism">About Autism</a>
			</div>
		</div>
	</div>
	       	
	<div class="button-container">
		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" href="#/aboutgame">About the Game</a>
			</div>
		</div>
	</div>
</div>